node_modules
npm-debug.log
pnpm-debug.log
.git
.gitignore
.github
.env.local
.env.*.local
build
.DS_Store
*.log
.idea
.vscode
.eslintcache
.husky
README.md
.prettierrc
.eslintrc.cjs
vitest.config.ts
.lintstagedrc.json
public/vite.svg
src/test
coverage
.turbo